.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}
@media (max-width:992px){
    .container{
        padding: 0 36px;
    } 
}
@media (max-width:767px) {
    .container {
        padding: 0 14px;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.col-3{
    width: 25%;
    padding: 0 12px;
}
.col-4 {
    width: 33.3333%;
    padding: 0 12px;
}
.col-6 {
    width: 50%;
    padding: 0 12px;
}
.col-12 {
    width: 100%;
    padding: 0 12px;
}

.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}


.d-none{
    display: none;
}
.d-block{
    display: block;
}

.fs-noto-sans{
    font-family: "Noto Sans TC";
}
.text-center{
    text-align: center;
}

.h1{
    font-size: 64px;
    font-weight: 900;
}
.h2{
    font-size: 48px;
    font-weight: 900;
}
.h3{
    font-size: 36px;
}
.h4{
    font-size: 24px;
    font-weight: 700;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-80{
    margin-bottom: 80px;
}
.mr-12{
    margin-right: 12px;
}
.mr-48{
    margin-right: 48px;
}
.ml-48{
    margin-left: 48px;
}