<header class="header">
    <div class="container">
        <nav class="header-navbar d-flex justify-content-between align-items-center">
            <a href="index.html" class="logo"><img src="../assets/images/logo-new.png" alt="logo"></a>
            <ul class="header-nav d-flex flex-wrap">
                <li class="header-nav-item"><a href="product1.html">系列鏡框</a></li>
                <li class="header-nav-item"><a href="location.html">門市據點</a></li>
                <li class="header-nav-item"><a href="blog.html">部落格</a></li>
                <li class="header-nav-item"><a href="support.html">常見問題</a></li>
            </ul>
        </nav>
        
    </div>
</header>