// navibar開始
.product2-navibar .nav-items {
    flex-grow: 1;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.product2-navibar .nav-items:first-child {
    border-left: 1px solid #DCDCDC;
}

.product2-navibar a {
    padding: 24px 0;
    font-size: 32px;
    font-weight: 700;
    border-bottom: 8px solid var(--white-color);
}

.product2-navibar .nav-items:hover {
    border-bottom: 8px solid var(--primary-color);
}
.product2-navibar .nav-items.active {
    border-bottom: 8px solid var(--primary-color);
}


@media (max-width:992px) {
    .product2-navibar .container {
        padding: 0;
    }

    .product2-navibar a {
        font-size: 24px;
    }
}

@media (max-width:767px) {
    .product2-navibar a {
        font-size: 16px;
    }
}

// navibar結束

// sec1開始
// sec1結束

// sec2開始
.product2-sec2 h2.title {
    font-size: 42px;
    font-weight: 600;
}

.product2-sec2 span.title {
    font-size: 32px;
    font-weight: 600;
}

.product2-sec2 .product-items {
    margin-bottom: 80px;
}

.product2-sec2 .product-card:hover {
    box-shadow: 0px 0px 5px 1px rgba($color: #000000, $alpha: .2);
    border-radius: 5px;
}

.product2-sec2 .productID,
.product2-sec2 .productPrice {
    font-size: 24px;
    font-weight: 600;
}

.product2-sec2 .productPrice {
    color: var(--primary-color);
}

.product2-sec2 .box {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.product2-sec2 .box1 {
    background-color: #5F3E2D;
    margin-right: 8px;
}

.product2-sec2 .box2 {
    background-color: #B75929;
}

@media (max-width:992px) {
    .product2-sec2 .product-items {
        width: 50%;
        margin-bottom: 40px;
    }
}

@media (max-width:576px) {
    .product2-sec2 .product-items {
        width: 100%;
        margin-bottom: 24px;
    }
}

// sec2結束

// sec3開始
.product1-sec3 .pageNum-items a {
    padding: 12px 16px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
    font-size: 18px;
}

.product1-sec3 .pageNum-items:first-child a {
    border-left: 1px solid #555555;
}

.product1-sec3 .pageNum-items:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}
.product1-sec3 .pageNum-items.active {
    background-color: var(--black-color);
    color: var(--white-color);
}

.product1-sec3 .pageNum-items:first-child a:hover,
.product1-sec3 .pageNum-items:last-child a:hover {
    background-color: #F2F2F2;
    color: #000;
}

@media (max-width:576px) {
    .product1-sec3 .pageNum-items a {
        padding: 10px 14px;
        font-size: 16px;
    }
}

// sec3結束