<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>James眼鏡電商</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    
    <main class="article-main">
        <!-- navibar開始 -->
        <nav class="article-navibar">
            <div class="container">
                <ul class="nav-list d-flex align-items-center">
                    <li class="nav-items mr-48"><a href="#">最新消息</a></li>
                    <li class="nav-items mr-48"><a href="#">特別企劃</a></li>
                    <li class="nav-items mr-48"><a href="#">新品上市</a></li>
                    <li class="nav-items"><a href="#">鏡框小知識</a></li>
                    <li class="nav-items"><a href="#"><span class="material-symbols-outlined">search</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- navibar結束 -->

        <!-- sec開始 -->
        <section class="article-function mb-8">
            <div class="container">
                <ul class="path-list d-flex mb-8">
                    <li class="path-items"><a href="index.html">首頁</a></li>
                    <li class="path-items"><a href="blog.html">部落格</a></li>
                    <li class="path-items"><a href="#">特別企劃</a></li>
                    <li class="path-items"><a href="#">情人特別企劃</a></li>
                </ul>
                <ul class="hashtag-list d-flex">
                    <li class="hashtag-items"><a href="#">#special</a></li>
                    <li class="hashtag-items"><a href="#">#event</a></li>
                </ul>
            </div>
        </section>
        <!-- sec結束 -->

        <!-- article開始 -->
        <article class="article-content mb-80">
            <div class="container">
                <div class="wrap row">
                    <div class="part-wrap1">
                        <div class="main-content">
                            <h2 class="h2">情人特別企劃</h2>
                            <h4 class="h4 mb-16">2020 Valentine’s Special</h4>
                            <div class="part-content">
                                <img src="../assets/images/blogpage-1.png" alt="bp-img1">
                                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                            </div>
                            <div class="part-content">
                                <img src="../assets/images/blogpage-2.png" alt="bp-img2">
                                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                            </div>
                            <div class="part-content">
                                <img src="../assets/images/blogpage-3.png" alt="bp-img3">
                                <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                            </div>
                            <div class="part-content">
                                <img src="../assets/images/blogpage-4.png" alt="bp-img4">
                                <p>2/14(五)-2/20(日) <br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 <br>期間優惠還有~~持他牌鏡框更換鏡片 <br>薄型非球面鏡片折300元 <br>濾藍光鏡片折500元 <br>快快帶上另一半 <br>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
                            </div>
                            <ul class="share-list d-flex ">
                                <span>Share</span>
                                <li class="share-items"><a href="#"><img src="../assets/images/logo-facebook.png" alt=""></a></li>
                                <li class="share-items"><a href="#"><img src="../assets/images/logo-instagram.png" alt=""></a></li>
                            </ul>
                            <ul class="pageBtn-list d-flex justify-content-between align-items-center">
                                <li class="pageBtn-items">
                                    <a href="#" class="d-flex">
                                        <span class="material-symbols-outlined mr-12">arrow_back</span>
                                        <span">上一篇：街頭潮人訪問 1</span>
                                    </a>
                                </li>
                                <li class="pageBtn-items">
                                    <a href="#" class="d-flex">
                                        <span class="mr-12">上一篇：街頭潮人訪問 2</span>
                                        <span class="material-symbols-outlined ">arrow_forward</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="part-wrap2">
                        <div class="tag-aside">
                            <div class="tag-title d-flex mb-4">
                                <span class="material-symbols-outlined  mr-12">label</span>
                                <span>TAGS</span>
                            </div>
                            <ul class="tag-list">
                                <li class="tag-items"><a href="#">#special</a> </li>
                                <li class="tag-items"><a href="#">#sale</a> </li>
                                <br>
                                <li class="tag-items"><a href="#">#new_item</a> </li>
                                <li class="tag-items"><a href="#">#interview</a> </li>
                                <br>
                                <li class="tag-items"><a href="#">#trivia</a> </li>
                                <li class="tag-items"><a href="#">#news</a> </li>
                                <br>
                                <li class="tag-items"><a href="#">#event</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>             
            </div>
        </article>
        <!-- article結束 -->
    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>