<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>James眼鏡電商</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <main class="location-main">
        <!-- sec1開始 -->
        <section class="location-sec1">
            <div class="container">
                <h2 class="h2 mb-32">門市據點</h2>
                <form action="" class="form-list">
                    <div class="form-items">
                        <label for="area-select">選擇地區</label>
                        <select name="area" id="area-select">
                            <option value="台北市">台北市</option>
                            <option value="台中市">台中市</option>
                            <option value="高雄市">高雄市</option>
                        </select>
                    </div>
                </form>
            </div>
        </section>
        <!-- sec1結束 -->

        <!-- sec2開始 -->
        <section class="location-sec2 mb-32">
            <div class="container">
                <ul class="store-list row">
                    <li class="store-item col-4 mb-48">
                        <div class="store-card">
                            <div class="card-head">
                                <img src="../assets/images/store-1.png" alt="store1">
                            </div>
                            <div class="card-body">
                                <h4 class="h4">台北中山旗艦店</h4>
                                <ul class="store-info-list ">
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">call</span>
                                        <a href="tel:+2-000-1234">電話：(02)000-1234</a>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">schedule</span>
                                        <p>營業時間：10:00-21:00</p>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">location_on</span>
                                        <p>地址：台北市中山區南京東路25巷2-1號</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-foot">
                                <a href="../pages/store.html" class="btn text-center">詳細資訊</a>
                            </div>
                        </div>
                    </li>
                    <li class="store-item col-4 mb-48">
                        <div class="store-card">
                            <div class="card-head">
                                <img src="../assets/images/store-2.png" alt="store2">
                            </div>
                            <div class="card-body">
                                <h4 class="h4">台北綠園店</h4>
                                <ul class="store-info-list ">
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">call</span>
                                        <a href="tel:+2-000-2345">電話：(02)000-2345</a>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">schedule</span>
                                        <p>營業時間：10:00-21:00</p>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">location_on</span>
                                        <p>地址：台北市中正區復興南路 132-1 號</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-foot">
                                <a href="#" class="btn text-center">詳細資訊</a>
                            </div>
                        </div>
                    </li>
                    <li class="store-item col-4 mb-48">
                        <div class="store-card">
                            <div class="card-head">
                                <img src="../assets/images/store-3.png" alt="store3">
                            </div>
                            <div class="card-body">
                                <h4 class="h4">台中清水旗艦店</h4>
                                <ul class="store-info-list ">
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">call</span>
                                        <a href="tel:+2-000-1234">電話：(02)000-1234</a>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">schedule</span>
                                        <p>營業時間：10:00-21:00</p>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">location_on</span>
                                        <p>地址：台中市清水區經南一路 23 號 8 樓</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-foot">
                                <a href="#" class="btn text-center">詳細資訊</a>
                            </div>
                        </div>
                    </li>
                    <li class="store-item col-4 mb-48">
                        <div class="store-card">
                            <div class="card-head">
                                <img src="../assets/images/store-4.png" alt="store4">
                            </div>
                            <div class="card-body">
                                <h4 class="h4">高雄中正形象店</h4>
                                <ul class="store-info-list ">
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">call</span>
                                        <a href="tel:+2-000-2345">電話：(02)000-2345</a>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">schedule</span>
                                        <p>營業時間：10:00-21:00</p>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">location_on</span>
                                        <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-foot">
                                <a href="#" class="btn text-center">詳細資訊</a>
                            </div>
                        </div>
                    </li>
                    <li class="store-item col-4 mb-48">
                        <div class="store-card">
                            <div class="card-head">
                                <img src="../assets/images/store-5.png" alt="store5">
                            </div>
                            <div class="card-body">
                                <h4 class="h4">高雄夢時代店</h4>
                                <ul class="store-info-list ">
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">call</span>
                                        <a href="tel:+2-000-1234">電話：(02)000-1234</a>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">schedule</span>
                                        <p>營業時間：10:00-21:00</p>
                                    </li>
                                    <li class="store-info-items d-flex">
                                        <span class="material-symbols-outlined">location_on</span>
                                        <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-foot">
                                <a href="#" class="btn text-center">詳細資訊</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- sec2結束 -->
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>