<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>James眼鏡電商</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <main class="product1-main">
        <!-- navibar開始 -->
        <nav class="product1-navibar">
            <div class="container">
                <ul class="nav-list d-flex">
                    <li class="nav-items text-center"><a href="product1.html">OPTICAL</a></li>
                    <li class="nav-items text-center"><a href="product2.html">SUNGLASSES</a></li>
                    <li class="nav-items text-center"><a href="#">FUNCTIONAL</a></li>
                </ul>
            </div>
        </nav>
        <!-- navibar結束 -->
        
        <!-- sec1開始 -->
        <section class="product1-sec1 mb-80">
            <ul class="banner-list d-flex">
                <li class="banner-items"><picture>
                    <source srcset="../assets/images/product-header-sm-1.png" media="(max-width:767px)">
                    <img src="../assets/images/product-header-1.png" alt="product-img1">
                </picture></li>
                <li class="banner-items"><picture>
                    <source srcset="../assets/images/product-header-sm-2.png" media="(max-width:767px)">
                    <img src="../assets/images/product-header-2.png" alt="product-img2">
                </picture></li>
            </ul>
        </section>
        <!-- sec1結束 -->

        <!-- sec2開始 -->
        <section class="product1-sec2">
            <div class="container">
                <h2 class="title text-center">Celluloid Combi</h2>
                <span class="title text-center d-block mb-32">賽璐珞鈦金屬混合鏡框</span>
                <ul class="product-list row">
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-1.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-2.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-3.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-4.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-5.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-6.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-1.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-2.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-3.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-4.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-5.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-items col-3">
                        <div class="product-card">
                            <div class="card-header">
                                <a href="#"><img src="../assets/images/product-6.png" alt="product-1"></a>
                            </div>
                            <div class="card-body d-flex justify-content-between">
                                <span class="productID d-block">BJ41600S</span>
                                <span class="productPrice d-block">NTD3,490</span>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="box box1"></div>
                                <div class="box box2"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- sec2結束 -->  

        <!-- sec3開始 -->
        <section class="product1-sec3 mb-80">
            <div class="container">
                <ul class="pageNum-list d-flex justify-content-center">
                    <li class="pageNum-items"><a href="#">上一頁</a></li>
                    <li class="pageNum-items"><a href="#">1</a></li>
                    <li class="pageNum-items"><a href="#">2</a></li>
                    <li class="pageNum-items"><a href="#">3</a></li>
                    <li class="pageNum-items"><a href="#">4</a></li>
                    <li class="pageNum-items"><a href="#">5</a></li>
                    <li class="pageNum-items"><a href="#">下一頁</a></li>
                </ul>
            </div>
        </section>
    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>